{% extends 'Home/base.html' %}
{% load static %}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Students</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Students</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="{% url 'add_student' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>Photo</th>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Class</th>
                                        <th>Mobile Number</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in student_list %}
                                    <tr>
                                        <td>
                                            {% if student.student_image %}
                                                <img src="{{ student.student_image.url }}" alt="{{ student.first_name }}" class="avatar-img rounded-circle" style="width:40px;height:40px;object-fit:cover;">
                                            {% elif student.gender == 'Female' %}
                                                <img src="{% static 'assets/img/profiles/avatar-01.jpg' %}" alt="Avatar" class="avatar-img rounded-circle" style="width:40px;height:40px;object-fit:cover;">
                                            {% else %}
                                                <img src="{% static 'assets/img/profiles/avatar-03.jpg' %}" alt="Avatar" class="avatar-img rounded-circle" style="width:40px;height:40px;object-fit:cover;">
                                            {% endif %}
                                        </td>
                                        <td>{{ student.student_id }}</td>
                                        <td>
                                            <a href="{% url 'view_student' student.pk %}" style="color: inherit; font-weight: 600;">
                                                {{ student.first_name }} {{ student.last_name }}
                                            </a>
                                        </td>
                                        <td>{{ student.student_class }}</td>
                                        <td>{{ student.mobile_number }}</td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a href="{% url 'view_student' student.pk %}" class="btn btn-sm bg-info-light mr-1" title="Voir détails">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a href="{% url 'edit_student' student.pk %}" class="btn btn-sm bg-success-light mr-1" title="Modifier">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a href="{% url 'delete_student' student.pk %}" class="btn btn-sm bg-danger-light" title="Supprimer">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center">Aucun étudiant trouvé.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}